.App {
  text-align: center;

}
img {
  border-radius: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.goodMoringUsa {
border-radius: 15px;
  border: var(--veins);
  width: 69vw;
  height: 69vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


:root {
  --primary-color: #61dafb;
--veins : 2px solid grey;
}